.bell {
  /*sizing and positioning */
  width: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;

  /*transitions*/
  transition-property: all;
  transition: ease-in;
  transition-duration: 0.2s;
}

.bell:hover {
  /*colors*/
  fill: $base-color4;

  /*transformation*/
  scale: 1.3;

  /*cursor*/
  cursor: pointer;
}

.icon_styling {
  /*flex properties */
  display: flex;
  justify-content: center;
  align-items: center;

  /*sizing and positioning */
  width: 7rem;
  height: 7rem;

  /*decoration */
  border-radius: 50%;

  /*colors*/
  background-color: $base-color2;
}

.icon_size {
  /*sizing and positioning */
  width: 4rem;
  height: 4rem;

  /*colors*/
  background-color: $base-color2;
}

.icon {
  /*colors*/
  fill: $base-color3;
}

.header_bell {
  /*sizing and positioning */
  width: 4rem;
  height: 3rem;
  position: relative;

  /*decoration */
  border-right: 0.1rem solid #8a8cb1;
}

.sidebar_icon {
  /*sizing and positioning */
  width: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  @include breakpoint1 {
    /*sizing and positioning */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.message_button {
  /*sizing and positioning */
  width: 100%;
  height: 4rem;
  margin-bottom: 10px;

  /*decoration */
  border-radius: 5px;
  border: 0.1rem solid $base-color6;

  /*colors*/
  background-color: $base-color2;
  color: $base-color3;

  /*font properties*/
  font-size: 1.5rem;
}

.button_settings {
  /*flex properties */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /*sizing and positioning */
  width: 100%;
  height: 4rem;
}

#save,
#cancel {
  /*sizing and positioning */
  height: 4rem;
  margin-bottom: 2rem;
  width: 49%;

  /*colors*/
  background-color: $base-color2;
  color: $base-color3;

  /*decoration */
  border: 0.1rem solid $base-color6;
  border-radius: 0.5rem;

  /*font properties*/
  font-size: 1.5rem;
  @include breakpoint2 {
    /*sizing and positioning */
    margin-bottom: 1rem;
  }
}

#cancel {
  /*colors*/
  background-color: #999999;
}

.arrow {
  display: none;
  @include breakpoint1 {
    /*sizing and positioning */
    display: inline-block;

    /*font properties*/
    font-size: 2.5rem;

    /*colors*/
    color: $base-color2;
  }
}
